<!-- wp:template-part {"slug":"header-small-dark","theme":"twentytwentytwo","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"container"} -->
<main class="wp-block-group container"><!-- wp:spacer {"height":"32px"} -->
    <div style="height:32px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:group {"className":"container","layout":{"inherit":false}} -->
    <div class="wp-block-group container"><!-- wp:post-title {"level":1,"align":"wide"} /-->
    
    <!-- wp:post-featured-image {"align":"wide","style":{"spacing":{"margin":{"bottom":"var(\u002d\u002dwp\u002d\u002dcustom\u002d\u002dspacing\u002d\u002dmedium, 6rem)"}}}} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:spacer {"height":"32px"} -->
    <div style="height:32px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:post-content {"className":"container","layout":{"inherit":false}} /-->
    
    <!-- wp:spacer {"height":"32px"} -->
    <div style="height:32px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></main>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"twentytwentytwo","tagName":"footer"} /-->